*~
*.old
*.bak
*.o
*.elf
*.hex
*.map
build/
.tags
.tags1
.vscode/
unused_code/
/main/include/networkConfig.h
/settings.txt
/doc/html/
/Makefile.ota.incl
/main/ota_host_public_key.pem
/main/ota_root_ca_cert.pem
