[submodule "components/console-esp32"]
	path = components/console-esp32
	url = https://github.com/mwick83/console-esp32
[submodule "components/mqtt-manager-esp32"]
	path = components/mqtt-manager-esp32
	url = https://github.com/mwick83/mqtt-manager-esp32.git
[submodule "components/ota-https-esp32"]
	path = components/ota-https-esp32
	url = https://github.com/mwick83/ota-https-esp32.git
