[submodule "components/mongoose"]
	path = components/mongoose
	url = https://github.com/cesanta/mongoose.git
[submodule "components/espmqtt"]
	path = components/espmqtt
	url = https://github.com/mwick83/espmqtt
[submodule "components/console-esp32"]
	path = components/console-esp32
	url = https://github.com/mwick83/console-esp32
