#ifndef NETWORK_CONFIG_H
#define NETWORK_CONFIG_H

// WiFi config
#define STA_SSID                "MYWLAN"
#define STA_PASS                "MYWLANPASSWORD"

// MQTT config
#define MQTT_HOST               "mqttbroker.localdomain"
#define MQTT_PORT               1883
#define MQTT_SECURITY           0

#define MQTT_CLIENT_ID          "irrigation_ctrl_"
#define MQTT_USER               "MQTTUSER"
#define MQTT_PASS               "MQTTPASSWORD"


#endif /* NETWORK_CONFIG_H */
